:root {
  --colReact: #61dafb;
  --coldarkgray: #333;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 400; */
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
  background: var(--coldarkgray);
}

/* MEDIA CATCH ALL */
img, embed, object, video {
  max-width: 100%;
}

.container__example-eventlistener {
  background: lightblue;
}

.btn-secondary {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:1rem;
	font-weight:bold;
	padding:0.5rem 1.2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-secondary:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.btn-secondary:active {
	position:relative;
	top:1px;
}

.container__example-callbackanimation {
  width: 220px;
  height: 60px;
  background: #20a4e6;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.box-animated {
  position: relative;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  border: solid 2px white;
  background: #082944;
  transition: all 1s ease-in-out;
}

.image-array {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
