:root {
  --colReact: #61dafb;
  --coldarkgray: #333;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 400; */
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
  background: var(--coldarkgray);
}

.container__example-eventlistener {
  background: lightblue;
}

.container__example-callbackanimation {
  width: 220px;
  height: 60px;
  background: #20a4e6;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.box-animated {
  position: relative;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  border: solid 2px white;
  background: #082944;
  transition: all 1s ease-in-out;
}